[submodule "contrib/oh-my-zsh"]
	path = contrib/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.shcfg/.omz-custom/plugins/zsh-syntax-highlighting"]
	path = home/.shcfg/.omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.shcfg/.omz-custom/plugins/z"]
	path = home/.shcfg/.omz-custom/plugins/z
	url = https://github.com/rupa/z.git
[submodule "home/.shcfg/.omz-custom/plugins/zsh-256color"]
	path = home/.shcfg/.omz-custom/plugins/zsh-256color
	url = https://github.com/chrissicool/zsh-256color.git
[submodule "home/.shcfg/.omz-custom/plugins/zsh-iterm-touchbar"]
	path = home/.shcfg/.omz-custom/plugins/zsh-iterm-touchbar
	url = https://github.com/iam4x/zsh-iterm-touchbar.git
