[user]
	name = Florian Mauracher
	email = florian.mauracher@gmx.net

[alias]
	b = branch
	d = diff
	f = fetch
	l = log --oneline
	s = status
	br = branch
	ca = commit --amend
	ci = commit
	cm = commit -m
	co = checkout
	com = checkout master
	cp = cherry-pick
	dh = diff HEAD
	di = difftool
	dih = difftool HEAD
	lcf = diff-tree --no-commit-id --name-only -r HEAD
	lcfs = diff-tree --no-commit-id --name-only -r
	lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	nb = checkout -b
	rom = reset --hard origin/master
	st = stash
	webstart = instaweb --httpd=webrick --start
	webstop = instaweb --httpd=webrick --stop

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[push]
	# Change to simple when only using git 2.0
	default = matching

[color]
	ui = auto
