[user]
	name = Florian Mauracher
	email = florian.mauracher@gmx.net
[alias]
	a    = add
	au   = add -u
	b    = branch
	br   = branch --sort=-committerdate
	c    = commit
	ca   = commit --amend
	cf   = commit --fixup
	cs   = commit --squash
	cm   = commit --message
	co   = checkout
	cob  = checkout -b
	com  = checkout master
	cp   = cherry-pick
	d    = diff
	dc   = diff --cached
	dh   = diff HEAD
	di   = difftool
	dic  = difftool --cached
	dih  = difftool HEAD
	f    = fetch
	fp   = fetch --prune
	g    = grep
	l    = log --oneline
	lg   = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -10
	lgl  = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lgr  = log --grep
	lp   = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -10
	lpl  = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol  = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	p    = push
	pf   = push --force-with-lease
	puo  = push -u origin
	pl   = pull
	pr   = pull --rebase
	rb   = rebase
	rbo  = rebase origin/master
	rbi  = rebase -i
	rbio = rebase -i origin/master
	rs   = reset
	rso  = reset origin/master
	rsho = reset --hard origin/master
	s    = status
	st   = stash
	stp  = stash pop
	devs =  shortlog -sne
	# Utils
	lcf  = diff-tree --no-commit-id --name-only -r
	lcfh = diff-tree --no-commit-id --name-only -r HEAD
	alias = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
	webstart = instaweb --httpd=webrick --start
	webstop  = instaweb --httpd=webrick --stop
	pullall  = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
	# Gerrit
	ge-psh = push origin HEAD:refs/for/master
	gz-psh = "!f() { b=${1-gz52}; git push ssh://gerrit/gz.git HEAD:refs/for/$b; }; f"
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	pager = less -RFX
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
	compactionHeuristic = true
[difftool]
	prompt = false
[interactive]
	#diffFilter = diff-highlight
[merge]
	conflictstyle = diff3
	tool = vimdiff
	renamelimit = 50000
[mergetool]
	keepBackup = false
[push]
	# Change to simple when only using git 2.0
	default = current
[rebase]
	autosquash = true
[rerere]
	enabled = false
