[user]
	name = Florian Mauracher
	email = florian.mauracher@gmx.net
[alias]
	b = branch
	c  = commit
	d = diff
	f = fetch
	l = log --oneline
	s = status
	br  = branch
	ca  = commit --amend
	cf  = commit --fixup
	cm  = commit -m
	co  = checkout
	com = checkout master
	cp  = cherry-pick
	dc  = diff --cached
	dh  = diff HEAD
	di  = difftool
	dih = difftool HEAD
	lcf = diff-tree --no-commit-id --name-only -r
	lcfh= diff-tree --no-commit-id --name-only -r HEAD
	lg  = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -10
	lgl = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lp  = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -10
	lpl = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	nb  = checkout -b
	st  = stash
	stp = stash pop
	psh = push origin HEAD:refs/for/master
	rom = reset origin/master
	rhom= reset --hard origin/master
	webstart = instaweb --httpd=webrick --start
	webstop  = instaweb --httpd=webrick --stop
	pullall  = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
	gz-psh   = "!f() { b=${1-gz52}; git push ssh://gerrit/gz.git HEAD:refs/for/$b; }; f"
[color]
	ui = auto
[core]
	pager = less -RFX
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
	compactionHeuristic = true
[difftool]
	prompt = false
[push]
	# Change to simple when only using git 2.0
	default = current
[rebase]
	autosquash = true
[interactive]
	diffFilter = diff-highlight
[merge]
	conflictstyle = diff3
