########################################################################
# Aliases
########################################################################

alias a='ack-grep'
alias h='history'
alias g='git'

alias gcd='cd "$(git rev-parse --show-toplevel)"'

########################################################################
# Conditional Aliases
########################################################################

if [[ -n "$MC_WORK" ]]; then
	autoload bashcompinit
	bashcompinit
	if [ -f /usr/local/bin/l4profile.sh ] ; then
		source /usr/local/bin/l4profile.sh
	fi
fi
