########################################################################
# Aliases
########################################################################

alias a='ack-grep'
alias h='history'
alias g='git'

alias gcd='cd "$(git rev-parse --show-toplevel)"'
